<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>
    <div class="form-container">
    <h2>Request</h2>
    <form method="post" action="/docket-id">
        <label for="docket-id">Docket ID:</label>
        <input type="text" id="docket-id" name="docket-id" required>
        
        <!-- <label for="email">Email:</label>
        <input type="text" id="email" name="email" required> -->
        
        <button type="submit">Request</button>
    </form>
    </div>
</body>
</html>