<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docket Requests</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="form-container">
    <h2>Docket Requests</h2>
    <!-- Form to request docket id and email-->
    <form id="request-form" method="post">
        <div class="form-group">
            <label for="docket_id">Docket ID</label>
            <input type="text" id="docket_id" name="docket_id">
            <label for="email">Email</label>
            <input type="email" id="email" name="email_id">
            <button type="submit">Submit</button>
        </div>
    </form>
    <!-- Message displayed after email has been sent -->
    <div id="message"></div>
    <script>
        document.getElementById("request-form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission

            // Display the message
            document.getElementById("message").textContent = "Form submitted successfully!";
        });
    </script>
</body>
</html>